<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
      <add key="MEMO1" value=""/>                           <!--設定XMLﾊﾟｽ-->
      <add key="MEMO2" value="\XML\SettingXml.xml"/>        <!--設定XMLﾊﾟｽ-->
      <add key="MEMO3" value="\XML\SettingXml.xml"/>        <!--設定XMLﾊﾟｽ-->
      <add key="MEMO4" value="\XML\SettingXml.xml"/>        <!--設定XMLﾊﾟｽ-->
  </appSettings>
</configuration>